{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheet -->
    <link rel="stylesheet" href={% static "css1/main.css" %}>

    <!-- Font Awsome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

    <title>Main</title>
</head>

<body>
    <!-- NAV BAR -->
    <nav class="nav">

        <!-- logo section -->
        <div class="nav-logo">
            <i class="fab fa-microsoft nav-logo__icon"></i>
            <li class="nav-logo__title"><a href="#">MMIL</a></li>
        </div>

        <!-- resource section -->
        <div class="nav-resource">
            <div class="nav-resource__card">
                <a href="#">
                    <i class="fas fa-atom animate-rotate"></i>
                    <li class="">Resources</li>
                </a>
            </div>
            <div class="nav-resource__card">
                <a href="#">
                    <i class="fas fa-book-open"></i>
                    <li class="">Books</li>
                </a>
            </div>
            <div class="nav-resource__card">
                <a href="#">
                    <i class="fas fa-scroll"></i>
                    <li class="">Teacher</li>
                </a>
            </div>
            <div class="nav-resource__card">
                <a href="#">
                    <i class="fas fa-heart"></i>
                    <li class="">Saved</li>
                </a>
            </div>
            <div class="nav-resource__card">
                <a href="{% url 'home' %}">
                    <i class="fas fa-user-circle"></i>
                    <li class="">Account</li>
                </a>
            </div>
        </div>

        <div class="nav-search">
            <input class="nav-search__bar input-bar" type="text" placeholder="Search...">
            <i class="fas fa-search"></i>
        </div>

        <!-- Search BAR FOR SMALLER SCREEN btw 900px - 600px nav.scss-->
        <div class="sm-search-icon">
            <i class="fas fa-search-plus sm-toggle__icon"></i>
        </div>
        <div class="sm-input">
            <input class="input-bar" type="text" placeholder="Search....">
            <i class="fas fa-search"></i>
        </div>

    </nav>
    
    <!-- HERO -->
    <div class="resource-hero acc-head">
        <h1 class="heading res-head prof-head">Account<i class="fas fa-user-circle resource-hero__icon"></i></h1>
    </div>

    <!-- BOD -->
    <div class="acc-body">
        <div class="prof">
            <div class="prof-det">
                <div class="prof-def__name">
                    <h3 class="col-head">Name</h3>
                    <li>{{ details.name }}</li>
                </div>
                <div class="prof-def__email">
                    <h3 class="col-head">E-mail</h3>
                    <li>{{ details.email }}</li>
                </div>
                <div class="prof-def__inst">
                    <h3 class="col-head">Institute</h3>
                    <li>{{ details.college }}</li>
                </div>
                <div class="prof-def__dep">
                    <h3 class="col-head">Department</h3>
                    <li>{{ details.department }}</li>
                </div>
                {% if student == 1 %}
                <div class="prof-def__year">
                    <h3 class="col-head">Year</h3>
                    <li>{{ details.year }}</li>
                </div>
                {% endif %}
            </div>
            <!-- <div class="prof-img">
                <img src="{% static "img/logo.png" %}" alt="">
            </div> -->
            <div class="prof-btn">
                {% if student == 0 %}
                <!-- btn only available for teachers -->
                <div class="prof-btn__rup">
                    <a href="{% url 'resource' %}">
                        <button>Upload Resources &nbsp; <i class="fas fa-file-upload"></i></button>
                    </a>
                </div>
                {% endif %}
                <div class="prof-btn__edit">
                    <a href="{% url 'editform' %}">
                        <button>Edit Profile &nbsp; <i class="fas fa-user-edit"></i></button>
                    </a>
                </div>
                <div class="prof-btn__lout">
                    <a href="{% url 'logout' %}">
                        <button>Log Out &nbsp; <i class="fas fa-sign-out-alt"></i></button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="foot">
        <div class="foot-social">
            <div class="foot-social__head">
                Join Us
            </div>
            <div class="foot-social__icon">
                <a href=""><i class="fab fa-twitter-square"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-instagram-square"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
        <div class="foot-link">
            <div class="foot-link__part">
                <li class="foot-link-head">item1</li>
                <li><a href="">item2</a></li>
                <li><a href="">item3</a></li>
                <li><a href="">item4</a></li>
                <li><a href="">item5</a></li>
                <li><a href="">item6</a></li>
            </div>
            <div class="foot-link__part">
                <li class="foot-link-head">item1</li>
                <li><a href="">item2</a></li>
                <li><a href="">item3</a></li>
                <li><a href="">item4</a></li>
                <li><a href="">item5</a></li>
                <li><a href="">item6</a></li>
            </div>
            <div class="foot-link__part">
                <li class="foot-link-head">item1</li>
                <li><a href="">item2</a></li>
                <li><a href="">item3</a></li>
                <li><a href="">item4</a></li>
                <li><a href="">item5</a></li>
                <li><a href="">item6</a></li>
            </div>
            <div class="foot-link__part">
                <li class="foot-link-head">item1</li>
                <li><a href="">item2</a></li>
                <li><a href="">item3</a></li>
                <li><a href="">item4</a></li>
                <li><a href="">item5</a></li>
                <li><a href="">item6</a></li>
            </div>
            <div class="foot-link__part">
                <li class="foot-link-head">item1</li>
                <li><a href="">item2</a></li>
                <li><a href="">item3</a></li>
                <li><a href="">item4</a></li>
                <li><a href="">item5</a></li>
                <li><a href="">item6</a></li>
            </div>
        </div>
        <div class="foot-copy">
            <div class="foot-copy__right">&copy; MMIL &nbsp; <span id="copyrightYear"></span></div>
            <div class="foot-copy__gen">
                <li><a href="">link1</a></li>
                <li><a href="">link2</a></li>
                <li><a href="">link3</a></li>
                <li><a href="">link4</a></li>
            </div>
        </div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src={% static "js1/main.js" %}></script>
</body>

</html>
