{% extends 'resource_portal/base.html' %}
{% load static %}
<!---------------------------- -->

{% block title %}Resource{% endblock title %}

{% block content %}

<!-- HERO -->
<div class="resource-hero">
    <h1 class="heading res-head">By Teacher's<i class="fas fa-scroll resource-hero__icon"></i></h1>
</div>

<!-- MAIN -->
<main class="resource-main">

    <div class="resource-side">
        <div class="resource-dep">
            <div class="resource-dep__toggler r-head">
                Select Department <i class="fas fa-angle-down"></i>
            </div>
            <div class="resource-dep__list r-list">
                <div class="resource-dep__check">
                    <input type="checkbox" name="cse" id="r-cs"><label for="r-cs">CSE</label>
                </div>
                <div class="resource-dep__check">
                    <input type="checkbox" name="it" id="r-it"><label for="r-it">IT</label>
                </div>
                <div class="resource-dep__check">
                    <input type="checkbox" name="ece" id="r-ece"><label for="r-ece">ECE</label>
                </div>
                <div class="resource-dep__check">
                    <input type="checkbox" name="ee" id="r-ee"><label for="r-ee">EE</label>
                </div>
                <div class="resource-dep__check">
                    <input type="checkbox" name="me" id="r-me"><label for="">ME</label>
                </div>
                <div class="resource-dep__check">
                    <input type="checkbox" name="civil" id="r-civil"><label for="r-civil">Civil</label>
                </div>
            </div>
        </div>
        <br>
        <div class="resource-year">
            <div class="resource-year__toggler r-head">
                Select Year <i class="fas fa-angle-down"></i>
            </div>
            <div class="resource-year__list r-list">
                <div class="resource-dep__check">
                    <input type="checkbox" name="1st year" id="r-y1"><label for=r-y1>1st year</label>
                </div>
                <div class="resource-dep__check">
                    <input type="checkbox" name="2nd year" id="r-y2"><label for=r-y2>2nd year</label>
                </div>
                <div class="resource-dep__check">
                    <input type="checkbox" name="3rd year" id="r-y3"><label for=r-y3>3rd year</label>
                </div>
                <div class="resource-dep__check">
                    <input type="checkbox" name="4th year" id="r-y4"><label for=r-y4>4th year</label>
                </div>
            </div>
        </div>
        <br>
        <div class="resource-resource">
            <div class="resource-resource__toggler r-head">
                Select Resource <i class="fas fa-angle-down"></i>
            </div>
            <div class="resource-resource__list r-list">
                <div class="resource-resource__check">
                    <input type="checkbox" name="Assignment" id="r-assign"><label for="r-assign">Assignment</label>
                </div>
                <div class="resource-resource__check">
                    <input type="checkbox" name="Notes" id="r-note"><label for="r-note">Notes</label>
                </div>
                <div class="resource-resource__check">
                    <input type="checkbox" name="Previous year papers" id="r-prev"><label for="r-prev">Previous year
                        papers</label>
                </div>
                <div class="resource-resource__check">
                    <input type="checkbox" name="Books" id="r-books"><label for="r-books">Books</label>
                </div>
            </div>
        </div>
    </div>

    <div class="resource-mid">

        <div class="resource-card">
            <div class="resource-card__head">
                <span>CSE</span>
                <span>3rd</span>
            </div>
            <div class="resource-card__img">
                <img src="img/books.jpg" alt="">
            </div>
            <div class="resource-card__info">
                <li>Subject : <span>Math-76</span></li>
                <li>By : <span>N.P. Bali</span></li>
            </div>
            <div class="resource-card__detail">
                <span>11/04/2021</span>
                <button class="fav-me"><i class="far fa-heart"></i></button>
            </div>
            <div class="resource-card__link">
                <a href="#">
                    <button>View</button>
                </a>
            </div>
        </div>


        <div class="resource-card">
            <div class="resource-card__head">
                <span>CSE</span>
                <span>3rd</span>
            </div>
            <div class="resource-card__img">
                <img src="img/books.jpg" alt="">
            </div>
            <div class="resource-card__info">
                <li>Subject : <span>Math-76</span></li>
                <li>By : <span>N.P. Bali</span></li>
            </div>
            <div class="resource-card__detail">
                <span>11/04/2021</span>
                <button class="fav-me"><i class="far fa-heart"></i></button>
            </div>
            <div class="resource-card__link">
                <a href="#">
                    <button>View</button>
                </a>
            </div>
        </div>

        <div class="resource-card">
            <div class="resource-card__head">
                <span>CSE</span>
                <span>3rd</span>
            </div>
            <div class="resource-card__img">
                <img src="img/books.jpg" alt="">
            </div>
            <div class="resource-card__info">
                <li>Subject : <span>Math-76</span></li>
                <li>By : <span>N.P. Bali</span></li>
            </div>
            <div class="resource-card__detail">
                <span>11/04/2021</span>
                <button class="fav-me"><i class="far fa-heart"></i></button>
            </div>
            <div class="resource-card__link">
                <a href="#">
                    <button>View</button>
                </a>
            </div>
        </div>

        <div class="resource-card">
            <div class="resource-card__head">
                <span>CSE</span>
                <span>3rd</span>
            </div>
            <div class="resource-card__img">
                <img src="img/books.jpg" alt="">
            </div>
            <div class="resource-card__info">
                <li>Subject : <span>Math-76</span></li>
                <li>By : <span>N.P. Bali</span></li>
            </div>
            <div class="resource-card__detail">
                <span>11/04/2021</span>
                <button class="fav-me"><i class="far fa-heart"></i></button>
            </div>
            <div class="resource-card__link">
                <a href="#">
                    <button>View</button>
                </a>
            </div>
        </div>
    </div>
</main>

<!-- FAVORITE POPUP component.scss-->
<div class="fav-pop">
    <li class="fav-pop__message">Added to favorites!</li>
</div>
{% endblock content %}