{% extends 'resource_portal/base.html' %}
{% load static %}
<!---------------------------- -->

{% block title %}Upload{% endblock title %}

{% block content %}
    <!-- HERO -->
    <div class="resource-hero acc-head">
        <h1 class="heading res-head prof-head">Upload Resource &nbsp; <i class="fas fa-file-upload resource-hero__icon"></i></h1>
    </div>

    <!-- UPLOAD SECTION -->

    <!-- START HERE account.scss-->
    <div class="acc-body">
        <div class="up-form">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="uf-sub">
                        <label for="">Enter subject</label><br>
                        {{ form.subject }}
                    </div>
                    <div class="uf-sub">
                            <li class="d-inline">Select Type &nbsp;</li><br>
                            {{ form.type }}
                    </div>
                <div class="s-block">
                    <div class="uf-year">
                        <li class="d-inline">Select Year &nbsp;</li><br>
                        {{ form.year }}
                    </div>
                    <div class="uf-dep">
                        <li class="d-inline">Select Department &nbsp;</li>
                        {{ form.department }}
                        <!-- <select class="uSec" name="" id="">
                            <option value="">CSE</option>
                            <option value="">IT</option>
                            <option value="">ECE</option>
                            <option value="">EE</option>
                            <option value="">ME</option>
                            <option value="">Civil</option>
                        </select> -->
                    </div>
                </div>
                <!-- <div class="uf-url">
                    <label for="">Enter url</label><br>
                    <input class="uInp" type="text" placeholder="Enter resource url">
                </div> -->
                <div class="s-block">
                    <div class="uf-img">
                        <label for="">Choose thumbnail</label><br>
                        {{ form.thumbnail }}
                        <!-- <input  type="file" name="" id=""> -->
                    </div>
                    <div class="uf-file">
                        <label for="">Choose File</label> <br>
                        {{ form.file }}
                        <!-- <input  type="file"> -->
                    </div>
                </div>
                <div class="s-block">
                    <input type="submit" class="up-btn" value="Upload">
                </div>
                
            </form>
        </div>
    </div>
{% endblock content %}