<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/main.css">

    <!-- Font Awsome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

    <title>Main</title>
</head>

<body>
    <!-- NAV BAR -->
    <nav class="nav">

        <!-- logo section -->
        <div class="nav-logo">
            <i class="fab fa-microsoft nav-logo__icon"></i>
            <li class="nav-logo__title"><a href="index.html">MMIL</a></li>
        </div>

        <!-- resource section -->
        <div class="nav-resource">
            <div class="nav-resource__card">
                <a href="resource.html">
                    <i class="fas fa-atom animate-rotate"></i>
                    <li class="">Resources</li>
                </a>
            </div>
            <div class="nav-resource__card">
                <a href="books.html">
                    <i class="fas fa-book-open"></i>
                    <li class="">Books</li>
                </a>
            </div>
            <div class="nav-resource__card">
                <a href="teacher.html">
                    <i class="fas fa-scroll"></i>
                    <li class="">Teacher</li>
                </a>
            </div>
            <div class="nav-resource__card">
                <a href="saved.html">
                    <i class="fas fa-heart"></i>
                    <li class="">Saved</li>
                </a>
            </div>
            <div class="nav-resource__card">
                <a href="account.html">
                    <i class="fas fa-user-circle"></i>
                    <li class="">Account</li>
                </a>
            </div>
        </div>

        <div class="nav-search">
            <input class="nav-search__bar input-bar" type="text" placeholder="Search...">
            <i class="fas fa-search"></i>
        </div>

        <!-- Search BAR FOR SMALLER SCREEN btw 900px - 600px nav.scss-->
        <div class="sm-search-icon">
            <i class="fas fa-search-plus sm-toggle__icon"></i>
        </div>
        <div class="sm-input">
            <input class="input-bar" type="text" placeholder="Search....">
            <i class="fas fa-search"></i>
        </div>

    </nav>

    <!-- HERO -->
    <div class="resource-hero acc-head">
        <h1 class="heading res-head prof-head">Upload Resource &nbsp; <i class="fas fa-file-upload resource-hero__icon"></i></h1>
    </div>

    <!-- UPLOAD SECTION -->

    <!-- START HERE account.scss-->
    <div class="acc-body">
        <div class="up-form">
            <form action="">
                <div class="uf-sub">
                    <label for="">Enter subject</label><br>
                    <input type="text" class="uInp" placeholder="Enter subject...">
                </div>
                <div class="s-block">
                    <div class="uf-year">
                        <li class="d-inline">Select Year &nbsp;</li>
                        <select class="uSec" name="" id="">
                            <option value="1">1st Year</option>
                            <option value="2">2nd Year</option>
                            <option value="3">3rd Year</option>
                            <option value="4">4th Year</option>
                            <option value="0">All</option>
                        </select>
                    </div>
                    <div class="uf-dep">
                        <li class="d-inline">Select Department &nbsp;</li>
                        <select class="uSec" name="" id="">
                            <option value="">CSE</option>
                            <option value="">IT</option>
                            <option value="">ECE</option>
                            <option value="">EE</option>
                            <option value="">ME</option>
                            <option value="">Civil</option>
                        </select>
                    </div>
                </div>
                <div class="uf-url">
                    <label for="">Enter url</label><br>
                    <input class="uInp" type="text" placeholder="Enter resource url">
                </div>
                <div class="s-block">
                    <div class="uf-img">
                        <label for="">Choose thumbnail</label><br>
                        <input  type="file" name="" id="">
                    </div>
                    <div class="uf-file">
                        <label for="">Choose File</label> <br>
                        <input  type="file">
                    </div>
                </div>
                <div class="s-block">
                    <input type="submit" class="up-btn" value="Upload">
                </div>
                
            </form>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="foot">
        <div class="foot-social">
            <div class="foot-social__head">
                Join Us
            </div>
            <div class="foot-social__icon">
                <a href=""><i class="fab fa-twitter-square"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-instagram-square"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
        <div class="foot-link">
            <div class="foot-link__part">
                <li class="foot-link-head">item1</li>
                <li><a href="">item2</a></li>
                <li><a href="">item3</a></li>
                <li><a href="">item4</a></li>
                <li><a href="">item5</a></li>
                <li><a href="">item6</a></li>
            </div>
            <div class="foot-link__part">
                <li class="foot-link-head">item1</li>
                <li><a href="">item2</a></li>
                <li><a href="">item3</a></li>
                <li><a href="">item4</a></li>
                <li><a href="">item5</a></li>
                <li><a href="">item6</a></li>
            </div>
            <div class="foot-link__part">
                <li class="foot-link-head">item1</li>
                <li><a href="">item2</a></li>
                <li><a href="">item3</a></li>
                <li><a href="">item4</a></li>
                <li><a href="">item5</a></li>
                <li><a href="">item6</a></li>
            </div>
            <div class="foot-link__part">
                <li class="foot-link-head">item1</li>
                <li><a href="">item2</a></li>
                <li><a href="">item3</a></li>
                <li><a href="">item4</a></li>
                <li><a href="">item5</a></li>
                <li><a href="">item6</a></li>
            </div>
            <div class="foot-link__part">
                <li class="foot-link-head">item1</li>
                <li><a href="">item2</a></li>
                <li><a href="">item3</a></li>
                <li><a href="">item4</a></li>
                <li><a href="">item5</a></li>
                <li><a href="">item6</a></li>
            </div>
        </div>
        <div class="foot-copy">
            <div class="foot-copy__right">&copy; MMIL &nbsp; <span id="copyrightYear"></span></div>
            <div class="foot-copy__gen">
                <li><a href="">link1</a></li>
                <li><a href="">link2</a></li>
                <li><a href="">link3</a></li>
                <li><a href="">link4</a></li>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>