{% extends 'resource_portal/base.html' %}
{% load static %}
<!---------------------------- -->

{% block title %}Account{% endblock title %}

{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
    {% endif %}
    <!-- HERO -->
    <div class="resource-hero acc-head">
        <h1 class="heading res-head prof-head">Account<i class="fas fa-user-circle resource-hero__icon"></i></h1>
    </div>

    <!-- BOD -->
    <div class="acc-body">
        <div class="prof">
            <div class="prof-det">
                <div class="prof-def__name">
                    <h3 class="col-head">Name</h3>
                    <li>{{ details.name }}</li>
                </div>
                <div class="prof-def__email">
                    <h3 class="col-head">E-mail</h3>
                    <li>{{ details.email }}</li>
                </div>
                <div class="prof-def__inst">
                    <h3 class="col-head">Institute</h3>
                    <li>{{ details.college }}</li>
                </div>
                <div class="prof-def__dep">
                    <h3 class="col-head">Department</h3>
                    <li>{{ details.department }}</li>
                </div>
                {% if student == 1 %}
                <div class="prof-def__year">
                    <h3 class="col-head">Year</h3>
                    <li>{{ details.year }}</li>
                </div>
                {% endif %}
            </div>
            <!-- <div class="prof-img">
                <img src="{% static "img/logo.png" %}" alt="">
            </div> -->
            <div class="prof-btn">
                {% if student == 0 %}
                <!-- btn only available for teachers -->
                <div class="prof-btn__rup">
                    <a href="{% url 'resource' %}">
                        <button>Upload Resources &nbsp; <i class="fas fa-file-upload"></i></button>
                    </a>
                </div>
                {% endif %}
                <div class="prof-btn__edit">
                    <a href="{% url 'editform' %}">
                        <button>Edit Profile &nbsp; <i class="fas fa-user-edit"></i></button>
                    </a>
                </div>
                <div class="prof-btn__lout">
                    <a href="{% url 'logout' %}">
                        <button>Log Out &nbsp; <i class="fas fa-sign-out-alt"></i></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}
