{% extends 'resource_portal/base.html' %}
{% load static %}
<!---------------------------- -->

{% block title %}Teacher{% endblock title %}

{% block content %}

<!-- HERO -->
<div class="resource-hero">
    <h1 class="heading res-head">By Teacher's<i class="fas fa-scroll resource-hero__icon"></i></h1>
</div>

<!-- MAIN -->
<main class="resource-main">

    <div class="resource-side">
        <div class="resource-dep">
            <div class="resource-dep__toggler r-head">
                Select Department <i class="fas fa-angle-down"></i>
            </div>
            <div class="resource-dep__list r-list">
                <div class="resource-dep__check">
                    <input type="checkbox" name="cse" id="r-cs"><label for="r-cs">CSE</label>
                </div>
                <div class="resource-dep__check">
                    <input type="checkbox" name="it" id="r-it"><label for="r-it">IT</label>
                </div>
                <div class="resource-dep__check">
                    <input type="checkbox" name="ece" id="r-ece"><label for="r-ece">ECE</label>
                </div>
                <div class="resource-dep__check">
                    <input type="checkbox" name="ee" id="r-ee"><label for="r-ee">EE</label>
                </div>
                <div class="resource-dep__check">
                    <input type="checkbox" name="me" id="r-me"><label for="">ME</label>
                </div>
                <div class="resource-dep__check">
                    <input type="checkbox" name="civil" id="r-civil"><label for="r-civil">Civil</label>
                </div>
            </div>
        </div>
        <br>
        <div class="resource-year">
            <div class="resource-year__toggler r-head">
                Select Year <i class="fas fa-angle-down"></i>
            </div>
            <div class="resource-year__list r-list">
                <div class="resource-dep__check">
                    <input type="checkbox" name="1st year" id="r-y1"><label for=r-y1>1st year</label>
                </div>
                <div class="resource-dep__check">
                    <input type="checkbox" name="2nd year" id="r-y2"><label for=r-y2>2nd year</label>
                </div>
                <div class="resource-dep__check">
                    <input type="checkbox" name="3rd year" id="r-y3"><label for=r-y3>3rd year</label>
                </div>
                <div class="resource-dep__check">
                    <input type="checkbox" name="4th year" id="r-y4"><label for=r-y4>4th year</label>
                </div>
            </div>
        </div>
        <br>
        <div class="resource-resource">
            <div class="resource-resource__toggler r-head">
                Select Resource <i class="fas fa-angle-down"></i>
            </div>
            <div class="resource-resource__list r-list">
                <div class="resource-resource__check">
                    <input type="checkbox" name="Assignment" id="r-assign"><label for="r-assign">Assignment</label>
                </div>
                <div class="resource-resource__check">
                    <input type="checkbox" name="Notes" id="r-note"><label for="r-note">Notes</label>
                </div>
                <div class="resource-resource__check">
                    <input type="checkbox" name="Previous year papers" id="r-prev"><label for="r-prev">Previous year
                        papers</label>
                </div>
                <div class="resource-resource__check">
                    <input type="checkbox" name="Books" id="r-books"><label for="r-books">Books</label>
                </div>
            </div>
        </div>
    </div>

    <div class="resource-mid">
        {% for res in teacher %}
        <div class="resource-card">
            <div class="resource-card__head">
                <span>{{ res.department }}</span>
                <span>{{ res.year }}</span>
            </div>
            <div class="resource-card__img">
                <img src={{ res.thumbnail.url }} alt="Not loaded">
            </div>
            <div class="resource-card__info">
                <li>Subject : <span>{{ res.subject }}</span></li>
                <li>Topic : <span>{{ res.topic }}</span></li>
                {% if res.Teacher %}
                <li>By : <span>{{ res.Teacher.name }}</span></li>
                {% else %}
                <li>By : <span>{{ res.author }}</span></li>
                {% endif %}
            </div>
            <div class="resource-card__detail">
                <!-- <span>11/04/2021</span> -->
                {% if user in res.favourite.all %}
                <button class="fav-me" id={{ res.id }}><i class="fas fa-heart"></i></button>
                {% else %}
                <button class="fav-me" id={{ res.id }}><i class="far fa-heart"></i></button>
                {% endif %}
            </div>
            <div class="resource-card__link">
                <a href="{{ res.file.url }}" target="iframe_a">
                    <button>Download</button>
                </a>
            </div>
        </div>
        {% empty %}
        <div style="text-align: center;">
            <h1>No Resources by Teachers</h1>
        </div>
        {% endfor %}
    </div>
</main>

<!-- FAVORITE POPUP component.scss-->
<div class="fav-pop">
    <li class="fav-pop__message">Added to favorites!</li>
</div>
{% endblock content %}

{% block javascript %}
<script>
    $('.fav-me').click(function (e) {
        e.preventDefault();
        var book = $('.fav-me').attr('id');
        $.ajax({
            method: "POST",
            url: "{% url 'fav' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                res: book,
            },
        });
    });
</script>
{% endblock javascript %}