{% extends 'resource_portal/base.html' %}
{% load static %}
<!---------------------------- -->

{% block title %}MMIL{% endblock title %}

{% block content %}
    <!-- HERO SECTION -->
    <div class="landing">
        <div class="hero">
            <h1 class="hero-title">Student Resources</h1>
            <h3 class="hero-title-sub">View all Engineering resources at one place.</h3>.</h3>
            <div class="hero-task">
                <li class="explore"> Explore <i class="fab fa-wpexplorer"></i></li>
            </div>
        </div>
    </div>

    <!-- MASTER SECTION -->
    <main class="main-landing">

        <!-- GET STARTED gs.scss-->
        <section class="gs">
            <div class="gs-head heading">
                <li>  Getting Started <i class="fas fa-cogs"></i></li>
            </div>
            <div class="gs-sec">
                <div class="gs-sec__search">
                    <div class="gs-card-icon">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="gs-card-text">
                        Search your favorite notes and books among over 1000+ resources
                    </div>
                </div>
                <div class="gs-sec__save">
                    <div class="gs-card-icon">
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="gs-card-text">
                        Save what you like and collect all at one place.
                    </div>
                </div>
                <div class="gs-sec__study">
                    <div class="gs-card-icon">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                    <div class="gs-card-text">
                       Study anytime anywhere. With our downloadable resources.
                    </div>
                </div>
            </div>
        </section>

        <!-- Field Wise Sections landing.scss-->
        <section class="field explore-target">

            <div class="field-head">
                <h2>Choose your field <i class="fas fa-atlas"></i></h2>
            </div>

            <div class="field-part">

                <div class="firstYear fcard">
                    <div class="fcard-img">
                        <img src={% static "resource_portal/img1/1st.jpg" %} alt="1st year">
                    </div>
                    <div class="fcard-text">
                        <h4>Freshman</h4><br>
                        <a href="">Resources <i class="fas fa-long-arrow-alt-right"></i> </a>
                    </div>
                </div>

                <div class="cse fcard">
                    <div class="fcard-img">
                        <img src={% static "resource_portal/img1/cs.jpg" %} alt="Computer Science And Engineering">
                    </div>
                    <div class="fcard-text">
                        <h4>Computer Science And Engineering</h4> <br>
                        <a href="">Resources <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
                <div class="it fcard">
                    <div class="fcard-img">
                        <img src={% static "resource_portal/img1/it.jpg" %} alt="Information Technology">
                    </div>
                    <div class="fcard-text">
                        <h4>Information Technology</h4><br>
                        <a href="">Resources <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
                <div class="ece fcard">
                    <div class="fcard-img">
                        <img src={% static "resource_portal/img1/ece.jpg" %} alt="Electronics and Communications Engineering">
                    </div>
                    <div class="fcard-text">
                        <h4>Electronics and Communications Engineering</h4><br>
                        <a href="">Resources <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
                <div class="ee fcard">
                    <div class="fcard-img">
                        <img src={% static "resource_portal/img1/ee.jpg" %} alt="Electrical engineering">
                    </div>
                    <div class="fcard-text">
                        <h4>Electrical engineering</h4><br>
                        <a href="">Resources <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
                <div class="me fcard">
                    <div class="fcard-img">
                        <img src={% static "resource_portal/img1/mech.jpg" %} alt="Mechanical Engineering">
                    </div>
                    <div class="fcard-text">
                        <h4>Mechanical Engineering</h4><br>
                        <a href="">Resources <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
                <div class="civil fcard">
                    <div class="fcard-img">
                        <img src={% static "resource_portal/img1/civil.jpg" %} alt="Civil Engineering">
                    </div>
                    <div class="fcard-text">
                        <h4>Civil Engineering</h4><br>
                        <a href="">Resources <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}