{% extends 'resource_portal/base.html' %}
{% load static %}
<!---------------------------- -->

{% block title %}Edit Profile{% endblock title %}

{% block content %}

    <!-- HERO -->
    <div class="resource-hero acc-head">
        <h1 class="heading res-head prof-head">Edit Profile &nbsp; <i class="fas fa-user-edit resource-hero__icon"></i></h1>
    </div>

    <!-- UPLOAD SECTION -->

    <!-- START HERE account.scss-->
    <div class="acc-body">
        <div class="up-form">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="uf-sub">
                    <label for="">Name</label><br>
                        {{ form.name }}
                </div>
                <div class="s-block">
                    {% if student == 1 %}
                    <div class="uf-year">
                        <li class="d-inline">Select Year &nbsp;</li><br>
                        {{ form.year }}
                    </div>
                    {% endif %}
                    <div class="uf-dep">
                        <li class="d-inline">Department &nbsp;</li><br>
                        {{ form.department }} 
                    </div>
                </div>
                <div class="uf-url">
                    <label for="">Email</label><br>
                    {{ form.email }}
                </div>
                <div class="uf-url">
                        <label for="">College</label><br>
                        {{ form.college }}
                    </div>
                <div class="s-block">
                    <input type="submit" class="up-btn" value="Edit">
                </div>
                
            </form>
        </div>
    </div>

{% endblock content %}